*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}
body{
    background-color:#F7F9F9;
}
a{
    text-decoration: none;
}
h1{
    display: inline-block;
    padding-right: 50%;
    color: #1fdf6f;
}
nav{
    height: 60px;
    /*background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);*/
    
    background-color:#8E44AD;
    color: #1fdf6f;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0px 4px 30px 3px rgba(255,8,255,1);
    -moz-box-shadow: 0px 4px 30px 3px rgba(255,8,255,1);
    box-shadow: 0px 4px 30px 3px rgba(255,8,255,1);
    text-align: left;
    padding-left: 80px;
    padding-top: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-right: 5%;
    font-size: 20px;
}
nav h1 a{
    color: #1fdf6f;
}
nav a:hover{
    color: #1fdf6f;
}